<!DOCTYPE html>
<html>
<head>
  <title>Desafiord</title>
  <%= stylesheet_link_tag 'custom' %>
  <%= javascript_include_tag 'default' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/contatos">Contatos</a>
      <a class="brand" href="/regras">Regras</a>
    </div>
  </div>
</div>
<div class="container">
<%= yield %>
</div>
</body>
</html>
