<!DOCTYPE html>
<html>
<head>
  <title>Desafio RD</title>
  <link href="/assets/application.css" rel="stylesheet">
  <link href="/assets/bootstrap.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="/assets/bootstrap.min.js" ></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Desafio RD</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a class="brand" href="/contatos">Contatos</a>
        </li>
        <li>
          <a class="brand" href="/regras">Regras</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
